<div class="row">
    <div id="title-characters" class="col-lg-6  col-md-6 col-sm-6 col-xs-6 pull-left">
        <h1>Personajes</h1>
    </div>
    <div id="create-character" class="col-lg-6  col-md-6 col-sm-6 col-xs-6 pull-right">
        <a id="btn-new-character" class="btn btn-warning btn-lg pull-right" href="#/edit-character/0"><i class="glyphicon glyphicon-plus"></i>&nbspCrear nuevo</a> 
    </div>    
    <div class="col-md-12" ng-show="characters.length > 0">

        <div>

            <table id="characters-table" class="table table-hover">
                <thead>
                <th></th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in characters">
                        <td><img src="{{data.imagen}}" alt="imagen"></td>
                        <td>{{data.nombre}}</td>
                        <td>{{data.descripcion}}</td>
                        <td>
                            <a href="" class="btn">&nbsp;<i class="glyphicon glyphicon-plus"></i>Mas info</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-show="characters.length == 0">
            <div class="col-md-12">
                <h4>No hay personajes que mostrar</h4>
            </div>
        </div>
    </div>
</div>